# **Teoria 1 - Python básico**

In [2]:
import sys
print("Versión:-", sys.version)

Versión:- 3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]

In [3]:
print("Hola mundo")

Hola mundo

In [4]:
hola = "hola mundo"
print(type(hola))

<class 'str'>

### Tipos de números

In [5]:
entero = 30
print(type(entero))

flotante = 10.4  #0.1e-3
print(type(flotante))

complejo = 2.1 +7.8j
print(type(complejo))

booleano = True
print(type(booleano))

x = None
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'NoneType'>

### Operaciones aritméticas

In [6]:
r = 3 + 2 # suma r es 5
r = 4 - 7 # resta r es -3
r = -7 # negación r es -7
r = 2 * 6 # multiplicación r es 12
r = 2 ** 6 # exponente r es 64
r = 3.5 / 2 # división r es 1.75
r = 3.5 // 2 # división entera r es 1
r = 17 % 5 # módulo r es 2, devuelve el resto de la división

### Strings

In [7]:
print('Hola\nmundo')
print(r"\n")
print("""primer linea
segunda linea
tercera""")

print("hi! "+ "hola "*3)

Hola
mundo
\n
primer linea
segunda linea
tercera
hi! hola hola hola

### Booleanos y operadores relacionales

In [8]:
r = True and False #false
r = True or False #true
r = not True #false

r = 5 == 3 #false
r = 5 != 3 #True
r = 5 < 3 #False
r = 5 > 3 #True
r = 5 <= 5 #true
r = 5 >=3 #true

# Colecciones

### Listas

In [9]:
lista = [22,True, "La lista", [1,7]]
print(type(lista))
print( lista[0] )  #<-- 22, indice comienza con 0
print( lista[3][1]) #<-- 7,  acceder a un elemento de la lista en la lista
lista[0] = 11 #<-- [11,True, "La lista", [1,7]]
print(lista)
print( lista[-2] ) #<-- "la lista",  se pueden usar indices negativos

#las listas y tuplas son secuencias, permiten slicing
print( lista[1:3] ) #[True, 'La lista'], (inicio:fin) nos da una sublista desde indice 1 a 3 (sin incluir el 3)
print( lista[0:4:2]) #[11, 'La lista'], (inicio:fin:step) tomo desde inicio a fin, cada dos elementos.
print( lista[2: ] ) #['La lista', [1, 7]], por defecto va hasta el final

lista[0:2] = [0,1]
print( lista ) #<-- [0, 1, 'La lista', [1, 7]]

string = "hola alumnos"
print( string[4:])


#borrar un elemento
del lista[0]
print( lista) #[1, 'La lista', [1, 7]]

<class 'list'>
22
7
[11, True, 'La lista', [1, 7]]
La lista
[True, 'La lista']
[11, 'La lista']
['La lista', [1, 7]]
[0, 1, 'La lista', [1, 7]]
 alumnos
[1, 'La lista', [1, 7]]

### Tuplas

In [10]:
tupla = (1,2,True, "python")
print(type(tupla))
print(tupla)
print(tupla[1])
tupla[0] = 3 #<-- las tuplas son inmutables, y tienen tamaño fijo.

<class 'tuple'>
(1, 2, True, 'python')
2

TypeError: 'tuple' object does not support item assignment

### Diccionarios

In [ ]:
d = {"Love Actually": "Richard Curtis",
"Kill Bill": "Tarantino",
"Amélie": "Jean-Pierre Jeunet"}

print(d)
print(d["Kill Bill"])
d["Kill Bill"] = "Quentin Tarantino"
print(d["Kill Bill"])

{'Love Actually': 'Richard Curtis', 'Kill Bill': 'Tarantino', 'Amélie': 'Jean-Pierre Jeunet'}
Tarantino
Quentin Tarantino

In [ ]:
d2 = dict([('nombre','dario'),('edad',27),('documento','22333444')])
print(d2)
d2 = dict(nombre='dario',edad=27,documento=22333444)
print(d2)
#los dict son dinamicos (pueden crecer o decrecer), indexados (accesibles a través de key) y anidados (contener otro dict dentro)
d2["nombre"] = "Juana" #seteo de un valor
print(d2.get('nombre')) #obtener un valor dado el key
d2["direccion"] = "calle falsa 123" #si el key no existe se crea
print(d2)

{'nombre': 'dario', 'edad': 27, 'documento': '22333444'}
{'nombre': 'dario', 'edad': 27, 'documento': 22333444}
Juana
{'nombre': 'Juana', 'edad': 27, 'documento': 22333444, 'direccion': 'calle falsa 123'}

#### Métodos para diccionarios

In [ ]:
#El método clear() elimina todo el contenido del diccionario.
d = {'a': 1, 'b': 2}
d.clear()
print(d) #{}

{}

In [ ]:
#El método get() nos permite consultar el value para un key determinado.
#El segundo parámetro es opcional, y en el caso de proporcionarlo es el valor
#a devolver si no se encuentra la key.
d = {'a': 1, 'b': 2}
print(d.get('a')) #1
print(d.get('z', 'No encontrado')) #No encontrado

1
No encontrado

In [ ]:
#El método items() devuelve una lista con los keys y values del diccionario.
#Si se convierte en list se puede indexar, siendo los primeros elementos las key
# y los segundos los value.
d = {'a': 1, 'b': 2}
it = d.items()
print(it)             #dict_items([('a', 1), ('b', 2)])
print(list(it))       #[('a', 1), ('b', 2)]
print(list(it)[0][0]) #a

dict_items([('a', 1), ('b', 2)])
[('a', 1), ('b', 2)]
a

In [ ]:
#El método keys() devuelve una lista con todas las keys del diccionario.
d = {'a': 1, 'b': 2}
k = d.keys()
print(k)       #dict_keys(['a', 'b'])
print(list(k)) #['a', 'b']

dict_keys(['a', 'b'])
['a', 'b']

In [ ]:
#El método values() devuelve una lista con todos los values o valores del diccionario.
d = {'a': 1, 'b': 2}
print(list(d.values())) #[1, 2]

[1, 2]

In [ ]:
#El método pop() busca y elimina la key que se pasa como parámetro y devuelve su
#valor asociado. Daría un error si se intenta eliminar una key que no existe.
d = {'a': 1, 'b': 2}
d.pop('a')
print(d) #{'b': 2}

{'b': 2}

In [ ]:
#El método popitem() elimina el ultimo un elemento del diccionario.
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
d.popitem()
print(d)
#{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
#El método update() se llama sobre un diccionario y tiene como entrada otro diccionario.
#Los value son actualizados y si alguna key del nuevo diccionario no esta, es añadida.
d1 = {'a': 1, 'b': 2}
d2 = {'a': 0, 'd': 400}
d1.update(d2)
print(d1)
#{'a': 0, 'b': 2, 'd': 400}

{'a': 0, 'b': 2, 'd': 400}

# Condicionales

In [ ]:
mascota = "gato"
if mascota == "gato":
  print("Miau")
else:
  print("Guau?")

numero = 0
if numero <0:
  print("negativo")
elif numero>0:
  print("positivo")
else:
  print("cero")

num= 3
is_par = "par" if(num % 2 == 0 ) else "impar"
print(is_par)

Miau
cero
impar

# Bucles

### While

In [ ]:
edad = 0
while edad < 8:
  edad= edad +1
  print(edad)

1
2
3
4
5
6
7
8

In [ ]:
while True:
  entrada = input("->")
  if entrada == "adios":
    break #nos permite salir del bucle
  else:
    print(entrada)

->hola
hola
->adios

In [ ]:
num = 0
while num < 6:
  num = num +1
  if num % 2 == 0:
    continue # realiza un salto a la siguiente iteración
  print(num)

1
3
5

### for

In [ ]:
lista = ["uno", "dos", "tres"]
for elemento in lista:
  print(elemento)

for index, l in enumerate(lista):
  print(index, l)

lista2 =[1,2,3]

for l1, l2 in zip(lista,lista2):
  print(l1,l2)

lista3 = [4,5,6]

for i in range(0, len(lista3)):
  print(lista3[i])

uno
dos
tres
0 uno
1 dos
2 tres
uno 1
dos 2
tres 3
4
5
6

### Métodos de listas

In [ ]:
l = [1,2]
l.append(3)
#agrega al final
print(l)

l.extend([4,5]) #agrega lista
print(l)

l.insert(1,7) #inserta en indice especifico
print(l)

l.remove(7) #remueve de la lista
print(l)

l.pop() #elimina el ultimo elemento, o el especificado por el indice pasado por parametro
print (l)

l.reverse() #invierte la cadena
print(l)

l.sort() #ordena, por defecto de menor a mayor, con parametro reverse=True lo hace de mayor a menor
print(l)

l = ["flor","hoja", "tallo", "raiz"]
print(l.index("tallo")) #devuelve el indice del objeto en la lista

l = [1,1,1,1,3,4,5,6,1]
print(l.index(1,4)) #busca el indice de 1 empezando la busqueda desde el 4to elemento

[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 7, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[4, 3, 2, 1]
[1, 2, 3, 4]
2
8

# Funciones

In [ ]:
def imprimir(val1, val2):
  """esta función imprime los valores pasados por parametro"""
  print(val1)
  print(val2)


imprimir("hola","alumnos")
imprimir(val1="primero", val2="segundo")

hola
alumnos
primero
segundo

In [ ]:
def imprimir(cadena, veces = 1):
  """Esta función imprime el valor del primer parámetro tantas veces como
  indique el segundo parámetro, por defecto una vez."""
  print(cadena *veces)

imprimir("hola ",3)

hola hola hola

In [ ]:
def funcion_tupla(param1, param2, *otros):
  print(type(otros))
  for val in otros:
    print(val)

funcion_tupla(1,2,3,4,5,6,7)

<class 'tuple'>
3
4
5
6
7

In [ ]:
def funcion_diccionario(param1, param2, **otros):
  print(type(otros))
  for i in otros.items():
    print(i)

funcion_diccionario('a','b',primero='c', segundo='d')

<class 'dict'>
('primero', 'c')
('segundo', 'd')

### ¿Paso por valor o por referencia?

In [ ]:
def funcion(x,y):
  x=x+3
  y.append(23)
  print(x,y)

x=22 #los inmutables se pasan por valor. La funcion usa una copia de x
y=[22] #los mutables se pasan por referencia. La funcion usa un puntero al objeto.
funcion(x,y)
print(x,y)

#inmutables: Booleanos, Complejos, Enteros, Float, Frozenset, Cadenas, Tuplas, Range, Bytes
#mutables: Listas, Bytearray, Memoryview, Diccionarios, Sets y clases definidas por el usuario

25 [22, 23]
22 [22, 23]

In [ ]:
x = 5
print(id(x))
x = x + 1
print(id(x))

11126816
11126848

In [ ]:
l = [1, 2, 3]
print(id(l))
l[0] = 0
print(id(l))

140240753579984
140240753579984

### return

In [ ]:
def sumar(x,y):
  return x+y
print(sumar(3,2))

5

In [ ]:
def f(x,y):
  return x*2,y*2

a,b = f(1,2)
print(a,b)

2 4

#### Función Lambda

In [ ]:
#funciones abreviadas
suma = lambda a, b: a + b
suma(2, 4)
#si se quiere usar una sola vez
(lambda a, b: a + b)(2, 4)

6

In [ ]:
#una función lambda puede ser un parametro de otra función
def mi_funcion(lambda_func):
    return lambda_func(2,4)

mi_funcion(lambda a, b: a + b)


# y viceversa

def mi_otra_funcion(a, b):
    return a + b

(lambda a, b: mi_otra_funcion(a, b))(2, 4)

6